Imports des librairies

In [38]:
import pandas as pd

Première analyse des fichiers

In [40]:
import pandas as pd

# Dossier contenant les fichiers CSV
dossier = 'data/'

# Liste des années à vérifier
annees = list(range(2005, 2023))

# Liste des types de fichiers à lire
types_fichiers = ['caracteristiques', 'lieux', 'usagers', 'vehicules', 'vehicules-immatricules-baac']

# Initialisation de la liste pour stocker les résultats d'analyse
resultats_analyse = []

# Fonction pour lire les fichiers et extraire les informations
def analyser_fichier(chemin_fichier, type_fichier, annee):
    separateurs = [',', ';', '\t']
    for sep in separateurs:
        try:
            df = pd.read_csv(chemin_fichier, encoding='ISO-8859-1', delimiter=sep, on_bad_lines='skip')
            if len(df.columns) > 1:
                return {
                    'nom_fichier': f'{type_fichier}_{annee}.csv',
                    'chemin_fichier_complet': chemin_fichier,
                    'nombre_colonnes': len(df.columns),
                    'nombre_lignes': len(df),
                    'colonnes': df.columns.tolist(),
                    'statut': 'Succès',
                    'separateur': sep
                }
        except Exception:
            continue
    return {
        'nom_fichier': f'{type_fichier}_{annee}.csv',
        'chemin_fichier_complet': chemin_fichier,
        'nombre_colonnes': 1,
        'nombre_lignes': 0,
        'colonnes': [],
        'statut': 'Échec de lecture',
        'separateur': 'N/A'
    }

# Analyse des fichiers et stockage des résultats
for type_fichier in types_fichiers:
    for annee in annees:
        chemin_fichier = f'{dossier}{type_fichier}_{annee}.csv'
        resultat = analyser_fichier(chemin_fichier, type_fichier, annee)
        resultat['type_fichier'] = type_fichier
        resultat['annee'] = annee
        resultats_analyse.append(resultat)

# Création d'un DataFrame pour les résultats d'analyse
analyse_df = pd.DataFrame(resultats_analyse)

# Export des résultats d'analyse en fichier Excel
# with pd.ExcelWriter('resultats_analyse.xlsx') as writer:
#    analyse_df.to_excel(writer, sheet_name='Résultats Analyse', index=False)

print("Export terminé.")

/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1708688783.py:20: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, encoding='ISO-8859-1', delimiter=sep, on_bad_lines='skip')
/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1708688783.py:20: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, encoding='ISO-8859-1', delimiter=sep, on_bad_lines='skip')
/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1708688783.py:20: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, encoding='ISO-8859-1', delimiter=sep, on_bad_lines='skip')
/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1708688783.py:20: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, encoding='ISO-8859-1', delimiter=sep, on_bad_lines='skip')
/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1708688783.py:20: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, encoding='ISO-8859-1', delimiter=sep, on_bad_lines='skip')

Export terminé.

In [48]:
analyse_df.tail()

,nom_fichier,chemin_fichier_complet,nombre_colonnes,nombre_lignes,colonnes,statut,separateur,type_fichier,annee
85,vehicules-immatricules-baac_2018.csv,data/vehicules-immatricules-baac_2018.csv,8,94584,"[Id_accident, Lettre Conventionnelle VÃ©hicule...",Succès,;,vehicules-immatricules-baac,2018
86,vehicules-immatricules-baac_2019.csv,data/vehicules-immatricules-baac_2019.csv,8,94674,"[Id_accident, Lettre Conventionnelle VÃ©hicule...",Succès,;,vehicules-immatricules-baac,2019
87,vehicules-immatricules-baac_2020.csv,data/vehicules-immatricules-baac_2020.csv,8,74664,"[Id_accident, Lettre Conventionnelle VÃ©hicule...",Succès,;,vehicules-immatricules-baac,2020
88,vehicules-immatricules-baac_2021.csv,data/vehicules-immatricules-baac_2021.csv,8,89416,"[Id_accident, Lettre Conventionnelle VÃ©hicule...",Succès,;,vehicules-immatricules-baac,2021
89,vehicules-immatricules-baac_2022.csv,data/vehicules-immatricules-baac_2022.csv,1,0,[],Échec de lecture,N/A,vehicules-immatricules-baac,2022

Analyse des colonnes

In [52]:
# Initialisation du DataFrame final
informations_colonnes = []

# Filtrer le DataFrame pour ne conserver que les lignes où le statut est "Succès"
analyse_df_succes = analyse_df[analyse_df['statut'] == 'Succès']

# Parcourir chaque fichier dans le DataFrame filtré
for idx, row in analyse_df_succes.iterrows():
    chemin_fichier = row['chemin_fichier_complet']
    type_fichier = row['type_fichier']
    separateur = row['separateur']
    
    # Charger le fichier CSV
    try:
        df = pd.read_csv(chemin_fichier, sep=separateur, encoding='ISO-8859-1')
        
        # Obtenir les informations sur les colonnes
        for col in df.columns:
            info_col = {
                'chemin_fichier_complet': chemin_fichier,
                'type_fichier': type_fichier,
                'nom_colonne': col,
                'nombre_lignes': len(df),
                'taux_na': df[col].isna().mean(),
                'format': df[col].dtype
            }
            informations_colonnes.append(info_col)
    except Exception as e:
        print(f"Erreur lors de la lecture du fichier {chemin_fichier} : {e}")

# Créer le DataFrame final
analyse_colonnes_df = pd.DataFrame(informations_colonnes)

analyse_colonnes_df.head()

/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1284557679.py:15: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, sep=separateur, encoding='ISO-8859-1')
/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1284557679.py:15: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, sep=separateur, encoding='ISO-8859-1')
/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1284557679.py:15: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, sep=separateur, encoding='ISO-8859-1')
/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1284557679.py:15: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, sep=separateur, encoding='ISO-8859-1')
/var/folders/js/wtxbjqtd4hl50l7w9xmf2ymm0000gn/T/ipykernel_39654/1284557679.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(chemin_fichier, sep=separateur, encoding='ISO-8859-1')

,chemin_fichier_complet,type_fichier,nom_colonne,nombre_lignes,taux_na,format
0,data/caracteristiques_2005.csv,caracteristiques,Num_Acc,87026,0.0,int64
1,data/caracteristiques_2005.csv,caracteristiques,an,87026,0.0,int64
2,data/caracteristiques_2005.csv,caracteristiques,mois,87026,0.0,int64
3,data/caracteristiques_2005.csv,caracteristiques,jour,87026,0.0,int64
4,data/caracteristiques_2005.csv,caracteristiques,hrmn,87026,0.0,int64

In [73]:
analyse_colonnes_df.columns

Index(['chemin_fichier_complet', 'type_fichier', 'nom_colonne',
       'nombre_lignes', 'taux_na', 'format'],
      dtype='object')

In [79]:
fusion_colonne = analyse_colonnes_df.groupby(['type_fichier', 'nom_colonne'], as_index=False).agg(
    nombre_lignes=('nombre_lignes', 'sum'),
    format=('format', lambda x: ','.join(sorted(set(str(i) for i in x))))  # Convertir les valeurs en chaînes de caractères
)

In [83]:
fusion_colonne.head(50)

        type_fichier  nom_colonne  nombre_lignes                format
0   caracteristiques  Accident_Id          55302                 int64
1   caracteristiques      Num_Acc        1121571                 int64
2   caracteristiques          adr        1176873                object
3   caracteristiques          agg        1176873                 int64
4   caracteristiques           an        1176873                 int64
5   caracteristiques          atm        1176873         float64,int64
6   caracteristiques          col        1176873         float64,int64
7   caracteristiques          com        1176873  float64,int64,object
8   caracteristiques          dep        1176873          int64,object
9   caracteristiques          gps         958469                object
10  caracteristiques         hrmn        1176873          int64,object
11  caracteristiques          int        1176873                 int64
12  caracteristiques         jour        1176873                 int64
13  caracteristiques          lat        1176873        float64,object
14  caracteristiques         long        1176873        float64,object
15  caracteristiques          lum        1176873                 int64
16  caracteristiques         mois        1176873                 int64
17             lieux      Num_Acc        1176873                 int64
18             lieux         catr        1176873         float64,int64
19             lieux         circ        1176873         float64,int64
20             lieux         env1         958469         float64,int64
21             lieux        infra        1176873         float64,int64
22             lieux      larrout        1176873  float64,int64,object
23             lieux       lartpc        1176873  float64,int64,object
24             lieux          nbv        1176873  float64,int64,object
25             lieux         plan        1176873         float64,int64
26             lieux           pr        1176873        float64,object
27             lieux          pr1        1176873        float64,object
28             lieux         prof        1176873         float64,int64
29             lieux         situ        1176873         float64,int64
30             lieux         surf        1176873         float64,int64
31             lieux           v1        1176873         float64,int64
32             lieux           v2        1176873                object
33             lieux          vma         218404                 int64
34             lieux         voie        1176873        float64,object
35             lieux         vosp        1176873         float64,int64
36           usagers      Num_Acc        2636377                 int64
37           usagers         actp        2636377  float64,int64,object
38           usagers      an_nais        2636377         float64,int64
39           usagers         catu        2636377                 int64
40           usagers        etatp        2636377         float64,int64
41           usagers         grav        2636377                 int64
42           usagers    id_usager         255910                object
43           usagers  id_vehicule         494182                object
44           usagers         locp        2636377         float64,int64
45           usagers      num_veh        2636377                object
46           usagers        place        2636377         float64,int64
47           usagers         secu        2142195         float64,int64
48           usagers        secu1         494182                 int64
49           usagers        secu2         494182                 int64